#bad-vision-table {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 555;
}

#bad-vision-table-wrapper,
#bad-vision-table td,
#bad-vision-table th {
  text-align: center ! important;
}

#bad-vision-table td a {
  font-size: 16px;
  display: inline-block ! important;
  margin:0 2px ! important;
  outline: none ! important;
  letter-spacing: normal ! important;
  padding: 5px ! important;
  line-height: normal ! important;
}
